:root{
    --main-color: white;
    --secondary-color: rgb(13, 235, 98);
}
body {
    background-image: url(station.jpg);
    background-size: cover;
    text-align: center;
    font-weight: bold;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    color: var(--main-color)
}
h2{
    font-size: 50px;
    color:var(--secondary-color)
}
button{
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--main-color)

}

#increment-btn{
    background: darkred;
}